body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#6612ba 75px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#6612ba;
  font-weight:bold;
}

header .dark_red {
  color:#AE0000;
  font-weight:bold;
}

header .red {
  color:#FF0000;
  font-weight:bold;
}

header .orange{
  color:#ffa31a;
  font-weight:bold;
}

header .yellow {
  color:#ffff1a;
  font-weight:bold;
}

header .green {
  color:#00cc00;
  font-weight:bold;
}

header .dark_green {
  color:#009900;
  font-weight:bold;
}

header .blue {
  color:#3345FF;
  font-weight:bold;
}

header .purple {
  color:#cc00cc;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:450px;
  background:url('../img/coding.jpg') 0 -100px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Showcase2 */
#showcase2{
  min-height:400px;
  background:url('../img/showcase2.png') 0 -300px;
  text-align:center;
  color:#ffffff;
}

#showcase2 h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase2 p{
  font-size:20px;
}

/* z1 */
#z1{
  padding:0px;
  color:#ffffff;
  background:#6612ba
}

#z1 h1{
  float: left;
}

#z1 form {
  float:right;
  margin-top:15px;
}


/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* projects */
ul#projects li{
  list-style: none;
  padding:20px;
  margin-bottom:20px;
  background:#6612BA;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
Copy Text
}

footer{
  padding:1px;
  margin-top:1px;
  color:#ffffff;
  background-color:#6612ba;
  text-align: center;
}
/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #z1 h1,
  #z1 form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:20px;
  }
}

#slideshow {
  margin: 80px auto;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}




img#myimg{
  position: fixed;
  top: 100px;
  left:10px;
}
div#serverdis{
  position:fixed;
  left: 500px;
  top: 100px;
}
input#serversearch{
  position:fixed;
  left: 500px;
  top:10px;
}
#pic{
  position:fixed;
  left 200px;
}
.server-online{
  position:fixed;
  la
}

canvas {
  display: block;
  width: 100%;
  visibility: hidden;
}

.svginside {
  position:relative;
  margin-left:auto; margin-right: auto;
}

.svginside svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
